altgraph==0.17.4
distlib==0.3.8
et-xmlfile==1.1.0
filelock==3.16.1
macholib==1.16.3
mysql-connector-python==9.0.0
numpy==2.1.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
platformdirs==4.3.6
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
setuptools==75.1.0
six==1.16.0
tqdm==4.66.5
tzdata==2024.2
virtualenv==20.26.6
